{% extends 'blog/base.html' %}

{% block content %}
       {% for i_post in post %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=i_post.pk %}">{{ i_post.title }}</a></h1>
            <p>{{ i_post.text|linebreaksbr }}</p>
        </div>
            <!-- Рейтинг статьи -->
           <div class="post-footer">
                <a class="link-line" href="{% url 'stock_plus' pk=i_post.pk %}"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <span class="link-line">{{ i_post.stock }}</span>
                <a class="link-line" href="{{ i_post.stock_plus }}"><span class="glyphicon glyphicon-chevron-down"></span></a>

            <!--  -->
                &nbsp&nbsp&nbsp
                <a class="link-line" href="{% url 'post_detail' pk=i_post.pk %}"><span class="glyphicon glyphicon-comment"></span> {{ i_post.approved_comments.count }}</a>
                <span class="link-author">{{ i_post.author }}</span>
                <br>
                <span class="link-author">{{ i_post.published_date.date }}</span>
                <br>
            </div>
    {% endfor %}
{% endblock %}
